/* CCS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 5px 12px;
    color: grey;
    font-size: 12px;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 7px;
    border-color: lightgrey;
    border-width: 1px;
}

/* Utility */
button:hover{
    background-color: rgb(30,144,255);
    color: white;
    cursor: pointer;
}

.light-blue{
    background-color: rgb(69,171,234);
}

.purple{
    background-color: rgb(156,114,228);
}

.watergreen{
    background-color:rgb(100,192,169);
}

.orange{
    background-color: rgb(242,158,51);
}

.pink{
    background-color: rgb(216,99,161);
}

.lime{
    background-color: rgb(176,201,38) ;
}


/* Header */

#intestazione-sito{
    background-color: white;
    line-height: 60px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
    height: 45px;
}

#nome-sito{
    display: inline;
    vertical-align: middle;
    font-weight: 900;
}

/* Main */

.container{
    width: 45%;
    margin: 10px auto;
}

#add{
    background-color: white;
    line-height: 45px;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
}

/* Sezione To-Do-List */
.main-section{
    background-color: white;
    padding: 20px 0 0 0;
}

.to-do-type{
    font-weight: bolder;
    margin: 15px 25px;
}

.show-list{
    font-size: 10px;
    margin-right: 3px;
}

.to-do-things{
    margin-left: 25px;
    padding: 10px 0;
    line-height: 20px;
    vertical-align: middle;
    font-size: 15px;
}

.sign{
    display: inline-block;
    height: 13px;
    width: 13px;
    line-height: 13px;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
}
.check{
    color: green;
}

.cross{
    color:red
}
.things-type{
    color: white;
    font-size: 10px;
    border-radius: 15px;
    padding: 5px;
}