/* CCS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 5px 12px;
    color: grey;
    font-size: 12px;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 7px;
    border-color: lightgrey;
    border-width: 1px;
}

/* Utility */
button:hover{
    background-color: rgb(30,144,255);
    color: white;
    cursor: pointer;
}

/* Header */

#intestazione-sito{
    background-color: white;
    line-height: 60px;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
    height: 45px;
}

#nome-sito{
    display: inline;
    vertical-align: middle;
    font-weight: 900;
}

/* Main */

.container{
    width: 45%;
    margin: 10px auto;
}

#add{
    background-color: white;
    line-height: 45px;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}